Source: minos-core-settings
Section: misc
Priority: extra
Maintainer: Javier López <m@javier.io>
Build-Depends: debhelper (>= 9), dh-exec (>= 0.12)
Standards-Version: 3.9.4
Homepage: https://github.com/minos-org/minos-core-settings
Vcs-Git: git://github.com/minos-org/minos-core-settings-deb.git
Vcs-Browser: https://github.com/minos-org/minos-core-settings-deb.git

Package: minos-core-settings
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf, login, busybox-static, git
#                                                     login => because of /bin/su
Recommends: bash-minos-settings, minos-tools-extra
Description: Minos core settings
 This package provides the minimal settings which gives to minos its identity.
 It's intend to be installed in all environments, even on those where X is not
 running.
 .
 Settings are organized in modules which can be enabled/disabled by system
 administrators.
 .
 If a $HOME/.minos/not_override file exists modules will not alter files on
 that user directory.
 .
 Run $ sudo dpkg-reconfigure minos-core-settings to enable/disable options
 (enabled all by default).
